body{
    color: whitesmoke;
    font-family: 'Poppins', sans-serif;
    margin: 0px 0px 0px 0px; 
    padding: 0px 0px 0px 0px;
}
.Main-header-section{
    display: flex;
    justify-content: space-around;
    align-items:center;
}
.navcontainer {
    background-color: black;
}
